VITE_SUPABASE_URL=https://yrtwhbvglazhsecjpxub.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHdoYnZnbGF6aHNlY2pweHViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5MzE0ODYsImV4cCI6MjA5ODUwNzQ4Nn0.ygtY8jmcypXuQBMltqT6I9cjVfhlf5BpKiIE8MGiMIM